<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicos Template</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Serviços</h1>
    <a href="/">Menu</a>
    <br>
    <br>
    <form th:action="@{/cadastrarservicos}" method="POST">
        <label>Tipo: </label><input type="text" name="tipo" required/>
        <input type="submit" value="Cadastrar" />
    </form>

    <br>
    <br>
    
    <table>
        <tr>
            <th>Id</th>
            <th>Tipo</th>
            <th>Atualizar</th>
            <th>Remover</th>
        </tr>
        <tr th:each="servicos : ${servicoss}">
            <td th:text="${servicos.id}"></td>
            <td th:text="${servicos.tipo}"></td>
            <td> <a th:href="@{'/atualizarservicos/' + ${servicos.id}}">Atualizar</a></td>
            <td> <a th:href="@{'/removerservicos/' + ${servicos.id}}">Remover</a></td>
        </tr>
    </table>
    
</body>
</html>